.container{
    display: flex;
    flex-direction: column;
    background: #121212;
    background-image: url(../../assets/linebg.svg);
    padding-bottom: 4rem;
   
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div1>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.div1>:nth-child(2){
    color: #B3B3B3;
text-align: center;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.div1>:nth-child(3){
    color: #666;
text-align: center;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
width: 40%;

}

.div2{
    background: #0B0B0B;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2% 15%;
    width: 70%;
}
.div2>:nth-child(1){
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.div2>:nth-child(2){
    color: #666;
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.spaninside{
    color: #999;
}
.div3{
    display: flex;
    flex-direction: column;
    color: rgb(152, 152, 188);
    padding: 2% 8%;
}
.boxset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    filter: blur(5px);
    position: relative;
}

.box{
    border-radius: 9px;
border: 0.5px solid rgba(255, 255, 255, 0.20);
background: rgba(16, 16, 16, 0.30);
backdrop-filter: blur(1px);
width: 25%;
padding: 2% 2%;
display: flex;
flex-direction: column;
gap: 0.6rem;
}
.b1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fulltime{
    display: flex;
padding: 6px 14px;
align-items: flex-start;
gap: 10px;
border-radius: 3px;
background: #36B64F;
border: 1px solid #36B64F;
color: #FFF;
font-size: 13px;
}
.b1>:nth-child(2){
    font-size: 12px;
}
.b2{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.b2>:nth-child(1){
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.b2>:nth-child(2){
    color: #808080;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hrdiv{
    width: 100%;
    height: 1px;
    background: #666;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}
.b3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b3left{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-content: space-between;
}
.b3left>:nth-child(2){
    font-size: 14px;
}
.applynow{
    display: flex;
padding: 4px 10px;

gap: 10px;
border-radius: 41px;
border: 1px solid #FFF;
background-color: transparent;
color: #FFF;
font-size: 14px;
font-weight: 500;

}
.noopening{
    display: flex;
padding: 8px 24px;
gap: 10px;
position: absolute;
border-radius: 8px;
background: rgba(0, 0, 0, 0.6);
color: #FFF;
/* bottom: -430px;
right: 41%; */
/* right: 38%;
bottom: -140%; */
z-index: 2;
    margin: auto;
    margin-top: 10rem;
   right: 40%;
}

.div4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 8%;
}
.lastbox{
    display: flex;
padding: 2% 8%;
flex-direction: column;
align-items: center;

gap: 18px;
align-self: stretch;
border-radius: 20px;
background: rgba(0, 0, 0, 0.24);

}
.lastbox>:nth-child(1){
    color: #666;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.mail{
    display: flex;
height: 24px;
padding: 8px 24px;
align-items: center;
justify-content: center;
gap: 10px;
border-radius: 41px;
border: 1px solid #B3B3B3;
}
.mail>a{
    color: #B3B3B3;
    font-size: 16px;
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
        background-image: url(../../assets/linebgmbl.svg) ;
        background-size: cover;
        background-position: center;
    }
    .div1{
        width: 100%;
    }
    .div1>:nth-child(1){
        font-size: 20px;
    }
    .div1>:nth-child(2){
        font-size: 16px;
    }
    .div1>:nth-child(3){
        font-size: 14px;
        line-height: 22px;
        width: 88%;
    }
    .div2{
        width: 70%;
    }
    .div2>:nth-child(1){
        font-size: 20px;
    }
    .div2>:nth-child(2){
        font-size: 14px;
        line-height: 22px;
    }
    .div3{
        /* width: 90%; */
      padding: 0 8%;
    }
    .boxset{
        display: flex;
        flex-direction: column;
        gap: 2rem;
       overflow-y: hidden;
       height: 170px;
    }
    .box{
        width: 90%;
    }
    .fulltime{
        font-size: 10px;
        padding: 5px 10px;
    }
    .b2>:nth-child(1){
        font-size: 14px;
    }
    .b2>:nth-child(2){
        font-size: 10px;
    }
    .noopening{
        font-size: 10px;
        display: flex;
padding: 6.5px 19.5px;
align-items: flex-start;
gap: 8.125px;
border-radius: 6.5px;
right: 26%;
margin-top: 8rem;
    }
    .lastbox{
        padding: 5% 8%;
    }

    .lastbox>:nth-child(1){
        line-height: 22px;
        font-size: 14px;
    }
    .mail{
        display: flex;
    height: 22px;
    padding: 6px 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 41px;
    border: 1px solid #B3B3B3;
    }
    .mail>a{
        font-size: 14px;
    }

}