.container{
    color: #000000;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 7rem;
    padding-bottom: 1rem;
    background: #121212;
    background-image: url(../../assets/linebg.svg);
}
.heading{
    text-align: center;
    width: 86%;
    color: #FFFFFF;
    margin: auto;
}
.heading>:nth-child(2){
    color: #505050;
}

.privacybackground{
    width: 86%;
    border-radius: 20px;
    padding: 1% 2%;
    color: #cccccc;
    font-size: 16px;
    font-weight: 200;
    margin: auto;
    margin-top: 2rem;
}
.privacybackground>h4{
    color: #ffffff;
}


@media screen and (max-width: 768px) {
    .container{
        padding-top: 5rem;
        background-image: url(../../assets/linebgmbl.svg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .privacybackground{
      font-size:12px;
      margin-top: 0;
    }
    .heading{
      width: 80%;
    }
    .heading>:nth-child(1){
        font-size: 20px;
      }
      .heading>:nth-child(2){
        font-size: 15px;
      }
  
  
  }